<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Point of Delivery</title>
</head>

<body>
    <h1>Add Point of Delivery</h1>
   <form th:action="@{/Addpoint_of_delivery}" th:object="${point_of_delivery}" method="post">
        <p>
            <label for="commercial_premise">Commercial Premise:</label>
            <input type="text" id="commercial_premise" name="commercial_premise" required>
        </p>
        <p>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>
        </p>
        <button type="submit">Add Point of Delivery</button>
    </form>
</body>

</html>
