<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a new product</title>
</head>
<body>
    <h2>Add a new product</h2>
    <form th:object="${product}" th:action="@{/saveproduct}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" /><br />
        <label for="type">Type:</label>
        <input type="text" th:field="*{type}" /><br />
        <label for="price">Price:</label>
        <input type="number" th:field="*{price}" /><br />
        <label for="litres">Litres:</label>
        <input type="number" th:field="*{litres}" /><br />
        <label for="status">Status:</label>
        <input type="text" th:field="*{status}" /><br />
        <label for="customer">Customer:</label>
        <select th:field="*{customer.id}">
            <option th:each="customer : ${customers}"
                    th:value="${customer.id}"
                    th:text="${customer.firstname + ' ' + customer.lastname}">
            </option>
        </select><br />
        <label for="pointofdelivery">Point of Delivery:</label>
        <select th:field="*{pointOfDelivery.id}">
            <option value="">-- Select a Point of Delivery --</option>
            <option th:each="pointOfDelivery : ${pointofdeliveries}"
                    th:value="${pointOfDelivery.id}"
                    th:text="${pointOfDelivery.commercial_premise + ' ' + pointOfDelivery.address}"
                    th:if="${pointOfDelivery != null}">
            </option>
        </select>
        <button type="submit">Save</button>
    </form>
</body>
</html>