<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" />
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add Point of Delivery</title>

</head>

<body>
    <h1>Add Point of Delivery</h1>
   <form th:action="@{/Addpoint_of_delivery}" th:object="${point_of_delivery}" method="post">
        <p>
            <label for="commercial_premise">Commercial Premise:</label>
            <input type="text" id="commercial_premise" name="commercial_premise" required>
        </p>
        <p>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>
        </p>
        <button type="submit" class="btn btn-success">Add Point of Delivery</button>
   <a th:href="@{/Point_of_deliveries}" class="btn btn-success">Point of deliveries</a>
   
    </form>
</body>

</html>
