<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lopputyö</title>
</head>
<body>
	 
	
	
	<h1>Customers</h1>
	<table class="table table-striped" >
		
		 <tr>
    <th>Firstname</th>
    <th>Lastname</th>
  <th>Email</th>
  <th>Phonenumber</th>
  
  
  
  
  </tr>
		
		
	
		<tr th:each="customer : ${customers}">
			<td th:text="${customer.firstname}"></td>
			<td th:text="${customer.lastname}"></td>
		   <td th:text="${customer.email}"></td>
		   <td th:text="${customer.phonenumber}"></td>
		
		
		</tr>
	</table>
  
  <p>
  <a th:href="@{/addcustomer}">Add Customer</a>
  <a th:href="@{/Products}">Products</a>
  </p>


</body>
</html>