<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" />


<head>
	<title>Product List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
		}

		th, td {
			text-align: left;
			padding: 8px;
			border-bottom: 1px solid #ddd;
		}

		th {
			background-color: #f2f2f2;
		}

		tr:hover {
			background-color: #f5f5f5;
		}
	</style>
</head>
<body>
	<h1>Products</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Type</th>
				<th>Price</th>
				<th>Litres</th>
				<th>Status</th>
				<th>Point of Delivery</th>
				<th>Customer</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.type}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.litres}"></td>
        <td th:text="${product.status}"></td>
        <td th:text="${product.pointofdelivery != null ? product.pointofdelivery.commercial_premise + ', ' + product.pointofdelivery.address : ''}"></td>
        <td>
            <span th:text="${product.customer?.firstname}"></span>
            <span th:if="${product.customer != null and product.customer.lastname != null}">
                <th:block th:text="' ' + ${product.customer.lastname}"></th:block>
            </span>
        </td>
        <td><a th:href="@{/deleteproduct/{id}(id=${product.id})}" class="btn btn-xs btn-danger" >Delete</a></td>
        <td><a th:href="@{/editproduct/{id}(id=${product.id})}" class="btn btn-danger" >Edit</a></td>
    </tr>
</tbody>
	</table>

	<p>
		<a th:href="@{/addproduct}" class="btn btn-success">Add Product</a> |
		<a th:href="@{/addcustomer}" class="btn btn-success">Add Customer</a> |
		<a th:href="@{/addpoint_of_delivery}" class="btn btn-success">Add Point of Delivery</a>
	</p>
</body>
</html>






